{{#each clientes}}
<p>
    Id: {{idClientes}}
    <br>
    Nombre: {{nombre}}
    <br>
    Apellido: {{apellido}}
    <br>
    Fecha de Nacimiento: {{FechaNac}}
    <br>
    Peso: {{peso}}
    <br>
    Altura: {{altura}}
    <br>
    Localidad: {{localidad}}
    <br>
    Calle del domicilio: {{nombreCalleDomicilio}}
    <br>
    Numero de la calle: {{numeroCalleDomicilio}}
    <br>
    Primer número de teléfono: {{Movil01}}
    <br>
    Segundo número de teléfono: {{Movil02}}
    <br>
    Email: {{email}}
</p>
{{/each}}

<a href="/">Retornar</a>